/* Code title styles */
.remark-code-title {
  @apply rounded-t border-x border-t border-neutral-200 dark:border-neutral-700 bg-white dark:bg-black px-5 py-3 font-mono text-sm font-bold text-neutral-700 dark:text-neutral-300;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply -mx-4 block border-l-4 border-transparent pl-4 pr-4 bg-white dark:bg-black text-neutral-700 dark:text-neutral-300;
}

.code-line.inserted {
  @apply bg-green-500 bg-opacity-20;
}

.code-line.deleted {
  @apply bg-red-500 bg-opacity-20;
}

.highlight-line {
  @apply -mx-4 border-l-4 border-primary-500 bg-neutral-100 dark:bg-neutral-900 bg-opacity-50;
}

.line-number::before {
  @apply mr-4 -ml-2 inline-block w-4 text-right text-neutral-400;
  content: attr(line);
}

/* Token styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-neutral-500;
}

.token.punctuation {
  @apply text-neutral-700 dark:text-neutral-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}
