# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.mjs
!tailwind.config.cjs
!package.json
!.prettierrc
!.eslintrc.js
!README.md

# Still ignore this specific files
/src/pages/api/og.png.ts