:root {
  --pagefind-ui-font: Geist, sans-serif !important;

  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 80.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 80.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 80.1%;
  --accent-foreground: 0 0% 9%;
  --additive: 112 50% 36%;
  --additive-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --additive: 112 50% 36%;
  --additive-foreground: 0 0% 9%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html.dark {
  color-scheme: dark;

  .img-light,
  [img-light] {
    display: none;
  }
}

html:not(.dark) {
  color-scheme: light;

  .img-dark,
  [img-dark] {
    display: none;
  }
}

*,
*::before,
*::after {
  @apply border-[hsl(var(--border))];
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #888;
  opacity: 0.75;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

img {
  --at-apply: rd-1.5;
}

article {
  .katex-display {
    @apply overflow-x-auto overflow-y-hidden py-4;
  }

  mark {
    background-color: transparent;
  }

  :not(pre) > code {
    @apply relative rounded bg-[hsl(var(--muted))]/50 px-[0.3rem] py-[0.2rem] font-mono text-sm font-medium;
  }

  code[data-theme*=' '] {
    span {
      color: var(--shiki-light);
    }

    .dark & span {
      color: var(--shiki-dark);
    }
  }

  figure[data-rehype-pretty-code-figure] {
    @apply relative;

    [data-rehype-pretty-code-title] {
      @apply code-block-title;

      & + pre {
        @apply mt-0 rounded-t-none;
      }
    }

    pre {
      @apply code-block;

      > code {
        @apply whitespace-pre-wrap;
        counter-reset: line;

        &[data-line-numbers] {
          > [data-line]::before {
            counter-increment: line;
            content: counter(line);
            @apply mr-4 inline-block w-4 text-right text-[hsl(var(--muted-foreground))];
          }
        }

        > [data-line] {
          @apply code-line;
        }

        [data-highlighted-line] {
          @apply code-line-highlighted;
        }

        [data-highlighted-chars] > span {
          @apply code-chars-highlighted;
        }

        .diff {
          &.add {
            @apply code-diff-add;
          }
          &.remove {
            @apply code-diff-remove;
          }
        }

        > button:has(> span) {
          @apply code-copy-button;
        }
      }
    }
  }
}

.fw-inherit a {
  font-weight: inherit;
}

.prose-link i {
  --at-apply: text-sm mr-1;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none !important;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

kbd {
  font-family: 'Geist Mono', monospace;
  background: #8080801a;
  border-radius: 0.25em;
  padding: .1875em .375em;
  min-width: 1.5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: .0625em solid rgba(128,128,128,.15) !important;
  box-shadow: 0 .125em .125em #0000001a;
}

/* Theme transition animation */
.theme-transition::view-transition-old(root),
.theme-transition::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
.theme-transition::view-transition-old(root) {
  z-index: 1;
}
.theme-transition::view-transition-new(root) {
  z-index: 9999;
}
.theme-transition.dark::view-transition-old(root) {
  z-index: 9999;
}
.theme-transition.dark::view-transition-new(root) {
  z-index: 1;
}

/* Logo */
.logo-fill-color {
  fill: #303030;
}
.dark .logo-fill-color {
  fill: #fdfdfd;
}

/* Table of contents */
.table-of-contents {
  position: fixed;
  top: 90px;
  bottom: 0;
  font-size: 0.8em;
  left: 20px;
  z-index: 200;
  overflow: hidden;
  --at-apply: hidden lg-flex flex-col w-100px lg-w-200px xl-w-300px;
}

.table-of-contents-anchor {
  --at-apply: mx2 w-7 h-7 text-lg flex items-center justify-center bg-base
    rounded text-hex-8887 border border-base shadow md: border-transparent md:
    shadow-none transition duration-400;
}

.table-of-contents > ul {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: auto;
  --at-apply: rounded op0 important-mt1 pb-5 transition duration-700;
}

.table-of-contents:hover > .table-of-contents-anchor,
.toc-always-on .table-of-contents > .table-of-contents-anchor {
  --at-apply: text-inherit;
}

.toc-always-on .table-of-contents > ul {
  opacity: 0.6;
}

.table-of-contents:hover > ul {
  opacity: 0.75;
}

.table-of-contents ul > li::before {
  display: none;
}

.table-of-contents ul > li {
  padding-left: 0.8rem !important;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.table-of-contents ul > li > a {
  --at-apply: op75 hover-op100 transition font-normal;
}

.dot-space {
  display: inline-block;
}

.dot-space::before {
  content: '·';
  margin-right: 0.5rem;
}
