---
import Layout from "@/layouts/Layout.astro"
import siteConfig from "@/site-config"
---

<Layout
  description={siteConfig.description}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <article>
      <h1>404</h1>
      <h2>Page Not Found</h2>
      <p>Nice to meet you tho!</p>
    </article>
  </main>
</Layout>
