---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Vinh Pham</h1>
    <p>A curious mind, a software engineer, an explorer.</p>
    <p>
      My passion lies in envisioning ideas and bringing them to life. Sometimes,
      the most intriguing concepts don't fit within the scope of my day job, and
      that's where this site comes in. Here, I share those unbridled thoughts
      and projects. Dive in with an open mind and feel free to explore <a
        prose-link
        aria-label="Projects"
        href="/projects">my side projects</a
      >.
    </p>
    <p>
      Outside of programming, I quite enjoy some coffee time ☕️ and traveling 🚐
    </p>
    <div class="flex-auto"></div>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex mt--2! gap-x-2 gap-y-2 flex-wrap fw-inherit">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="button-link"
          >
            <span class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Or mail me at
      <span font-mono>
        vinh<span align-text-bottom i-carbon-at />vinh.dev
      </span>
    </p>
  </article>
</BaseLayout>
