---
import Layout from '@/layouts/Simple.astro'
import Appearance from '@/components/Appearance.astro'
import RecommendSection from '@/components/RecommendSection.astro'
import { SITE } from '@/config'
---

<Layout
  title={`Recommends - ${SITE.title}`}
  description="Things that enrich my life and what I enjoy and learn from in different media formats."
>
  <Fragment slot="title">
    Things that enrich my life and what I enjoy and learn from in different
    media formats.
  </Fragment>
  <Fragment slot="intro">
    What do you do in your spare time? For me, I would read a book, watch a
    movie, listen to a podcast. And sometimes, one of those is just too good to
    not to be shared.
  </Fragment>

  <div class="space-y-20">
    <RecommendSection title="Books">
      <Appearance
        href="https://www.goodreads.com/book/show/840.The_Design_of_Everyday_Things"
        title="The Design of Everyday Things"
        description="Anyone who designs anything to be used by humans -- from physical objects to computer programs to conceptual tools -- must read this book, and it is an equally tremendous read for anyone who has to use anything created by another human. It could forever change how you experience and interact with your physical surroundings, open your eyes to the perversity of bad design and the desirability of good design, and raise your expectations about how things should be designed."
        sub="Donald A. Norman"
        cta="Goodreads"
      />
    </RecommendSection>
    <RecommendSection title="Movies">
      <Appearance
        href="https://www.imdb.com/title/tt3915174/"
        title="Puss in Boots: The Last Wish"
        description="I like how every DreamWorks' movies are always well-done and give out so many a good messages"
        sub="DreamWorks"
        cta="IMDb"
      />
    </RecommendSection>
  </div>
</Layout>
