---
import { Image } from 'astro:assets'
import avatar from '@/assets/images/avatar.jpg'

const { props } = Astro
const { className, large = false } = props
---

<a
  {...props}
  href="/"
  aria-label="Home"
  class:list={[className, 'pointer-events-auto']}
>
  <Image
    src={avatar}
    alt=""
    class:list={[
      'rounded-full bg-zinc-100 object-cover ring ring-white dark:bg-zinc-800 dark:ring-black',
      large ? 'h-16 w-16' : 'h-9 w-9',
    ]}
  />
</a>
