---
const { href } = Astro.props
const isActive = Astro.url.pathname === href
---

<li>
  <a
    href={href}
    class:list={[
      'relative block px-3 py-2 transition',
      isActive
        ? 'text-red-500 dark:text-red-400'
        : 'hover:text-red-500 dark:hover:text-red-400',
    ]}
  >
    <slot />
    {
      isActive && (
        <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-red-500/0 via-red-500/40 to-red-500/0 dark:from-red-400/0 dark:via-red-400/40 dark:to-red-400/0" />
      )
    }
  </a>
</li>
