---
import siteConfig from '@/site-config'
---

<footer class="mt-8 text-center">
  <div class="flex justify-center space-x-4 tracking-tight">
    {siteConfig.socialLinks.map((link) => (
      <a
        href={link.href}
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-500 dark:text-gray-400 hover:text-blue-500 transition-colors duration-200"
      >
        {link.text}
      </a>
    ))}
  </div>
</footer>
