---
import siteConfig from "@/site-config"
import ThemeToggle from "./ThemeToggle.vue"
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a href="/"> home </a>
    <a href="/posts"> posts </a>
    <a href={`mailto:${siteConfig.email}`}>email</a>
  </nav>
  <ThemeToggle client:load />
</header>

<style>
  a {
    @apply font-medium text-zinc-500 dark:text-zinc-400 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
