---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  icon: astroHTML.JSX.Element
}

const { icon: Icon, ...props } = Astro.props
---

<a class="group -m-1 p-1" target="_blank" rel="noopener" {...props}>
  <Icon
    className="h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
  />
</a>
