---
const { className } = Astro.props
---

<div class:list={[className, "flex h-3 w-4 items-center gap-0.75"]}>
  <span class="h-3 w-0.75 animate-shrink rounded-sm bg-spotify-green"></span>
  <span class="h-1.5 w-0.75 animate-expand rounded-sm bg-spotify-green"></span>
  <span class="h-3 w-0.75 animate-shrink rounded-sm bg-spotify-green"></span>
</div>
