---
import cableCabin from '@/assets/images/photos/cable-cabin.jpg'
import planeWindow from '@/assets/images/photos/plane-window.jpg'
import macbookPro from '@/assets/images/photos/macbook-pro.jpg'
import phuquocSunset from '@/assets/images/photos/phuquoc-sunset.jpg'
import coffeeShop from '@/assets/images/photos/coffee-shop.jpg'
import { Image } from 'astro:assets'

const rotations = ['rotate-2', '-rotate-2', 'rotate-2', 'rotate-2', '-rotate-2']
---

<div class="mt-16 sm:mt-20">
  <div
    class="-my-4 flex justify-center gap-5 overflow-x-clip overflow-y-visible py-4 sm:gap-8"
  >
    {
      [cableCabin, planeWindow, macbookPro, phuquocSunset, coffeeShop].map(
        (image, imageIndex) => (
          <div
            class:list={[
              'relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl',
              rotations[imageIndex % rotations.length],
            ]}
          >
            <Image
              alt=""
              class="absolute inset-0 h-full w-full object-cover"
              src={image}
            />
          </div>
        )
      )
    }
  </div>
</div>
