---
import Button from "@/components/Button.astro"
import logoPwC from "@/images/logos/pwc.svg"
import logoAccenture from "@/images/logos/accenture.svg"
import logoHitachi from "@/images/logos/hitachi.svg"
import { BriefcaseIcon, ArrowDownIcon } from "@/components/Icons"

const resume = [
  {
    company: "PwC (Vietnam)",
    title: "Software Engineer",
    logo: logoPwC,
    start: "2020",
    end: {
      label: "Present",
      dateTime: new Date().getFullYear(),
    },
  },
  {
    company: "LINKBYNET/Accenture",
    title: "System Administrator",
    logo: logoAccenture,
    start: "2017",
    end: "2020",
  },
  {
    company: "Hitachi Ventura Vietnam",
    title: "Software Engineer Intern",
    logo: logoHitachi,
    start: "2017",
    end: "2017",
  },
]
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <BriefcaseIcon className="h-6 w-6 flex-none" />
    <span class="ml-3">Work</span>
  </h2>
  <ol class="mt-6 space-y-4">
    {
      resume.map((role, roleIndex) => (
        <li class="flex gap-4">
          <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5  dark:bg-white dark:ring-0">
            <img src={role.logo} alt="" class="h-7 w-7 object-contain" />
          </div>
          <dl class="flex flex-auto flex-wrap gap-x-2">
            <dt class="sr-only">Company</dt>
            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">
              {role.company}
            </dd>
            <dt class="sr-only">Role</dt>
            <dd class="text-xs text-zinc-500 dark:text-zinc-400">
              {role.title}
            </dd>
            <dt class="sr-only">Date</dt>
            <dd
              class="ml-auto text-xs text-zinc-400 dark:text-zinc-500"
              aria-label={`${role.start.label ?? role.start} until ${
                role.end.label ?? role.end
              }`}
            >
              <time datetime={role.start.dateTime ?? role.start}>
                {role.start.label ?? role.start}
              </time>{" "}
              <span aria-hidden="true">—</span>{" "}
              <time datetime={role.end.dateTime ?? role.end}>
                {role.end.label ?? role.end}
              </time>
            </dd>
          </dl>
        </li>
      ))
    }
  </ol>
  <!-- <Button
    href="https://www.dropbox.com/s/t9yko4dvruqf12m/Resume%20-%20Latest.pdf?dl=1"
    variant="secondary"
    className="group mt-6 w-full"
  >
    Download CV
    <ArrowDownIcon
      className="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50"
    />
  </Button> -->
</div>
