---
import { fade } from 'astro:transitions'
import { ClientRouter  } from 'astro:transitions'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import ScrollToTop from '@/components/ScrollToTop.vue'

const { ...head } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ClientRouter />
  </head>
  <body
    class="antialiased bg-main text-main min-h-screen font-sans w-full bg-dot"
  >
    <Header />
    <main
      class="grow max-w-65ch mx-auto py-10 px-7 relative"
      transition:animate={fade({ duration: '0.4s' })}
      data-pagefind-body
    >
      <slot />
      <ScrollToTop client:only="vue" />
      <Footer />
    </main>
  </body>
</html>
